.DS_Store
.vscode/
dev/
.python-version
*.ipynb
.idea/
.env

*.csr
*.crt
*.key
kubeconfig.yml
templates/kubeconfig.j2
infrastructure/tmp
lectures/01/hello-kubernetes/
lectures/02/data-source-sample.py
__pycache__/
