apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJkekNDQVIyZ0F3SUJBZ0lCQURBS0JnZ3Foa2pPUFFRREFqQWpNU0V3SHdZRFZRUUREQmhyTTNNdGMyVnkKZG1WeUxXTmhRREUyT1RnNE5EZzJNak13SGhjTk1qTXhNVEF4TVRReU16UXpXaGNOTXpNeE1ESTVNVFF5TXpRegpXakFqTVNFd0h3WURWUVFEREJock0zTXRjMlZ5ZG1WeUxXTmhRREUyT1RnNE5EZzJNak13V1RBVEJnY3Foa2pPClBRSUJCZ2dxaGtqT1BRTUJCd05DQUFTdEhrVytHdkpZUG80RTBXZDNXL3R2TVlWVVNqc1VzUTd4alhGN09qWFUKMDlVQnpWeGVQZnA5a1JzQXNtMytFcVpXR25wek9kYnllNTY0RG9KTWc0L3lvMEl3UURBT0JnTlZIUThCQWY4RQpCQU1DQXFRd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFRmdRVUlpR2VSNnJsdG8veVRWUnVEL0FvClVWa01mQzB3Q2dZSUtvWkl6ajBFQXdJRFNBQXdSUUloQUswdG5sek85LzRjS2VLbDRrYkRLdU05WFArWE1YdzYKdE43cDdNNDRyNkFDQWlCU1VjVGpEdUJYMzl6alVZZExIaDl3bXBHdGVyWVk4VmxPVnNjMnN6OTF2QT09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
    server: https://bds-g00-n0.uvm.sdu.dk:6443
  name: sdu
contexts:
- context:
    cluster: sdu
    namespace: {{ team }}
    user: sdu-{{ team }}
  name: sdu-{{ team }}
current-context: sdu-{{ team }}
kind: Config
preferences: {}
users:
- name: sdu-{{ team }}
  user:
    client-certificate-data: {{ client_certificate_data }}
    client-key-data: {{ client_key_data }}
