apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJkekNDQVIyZ0F3SUJBZ0lCQURBS0JnZ3Foa2pPUFFRREFqQWpNU0V3SHdZRFZRUUREQmhyTTNNdGMyVnkKZG1WeUxXTmhRREUyT1RRNE56SXdOell3SGhjTk1qTXdPVEUyTVRNME56VTJXaGNOTXpNd09URXpNVE0wTnpVMgpXakFqTVNFd0h3WURWUVFEREJock0zTXRjMlZ5ZG1WeUxXTmhRREUyT1RRNE56SXdOell3V1RBVEJnY3Foa2pPClBRSUJCZ2dxaGtqT1BRTUJCd05DQUFSMDFSS3pKdXlLQ2d2aGZ6L2JlNEtueGZ5YjZwaVNEM2xIVUlNOFZSbEoKczZZTjNqd0t4Z0VqblV2YngzQUllL2lLQ0JjVUhNalUyMi9rMFV6emcvOGZvMEl3UURBT0JnTlZIUThCQWY4RQpCQU1DQXFRd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFRmdRVWY1NldPb3RjTzF5SGpSMm4wbEQ0ClBrL2JNcEV3Q2dZSUtvWkl6ajBFQXdJRFNBQXdSUUloQU96eUJYRDV1SCtZUnd0NDRtR0xmTjU5WWNTZCs0ckwKWnp2VG9vMDdBd2dMQWlCSkZvQ05ETUFnREpma2NsUUc4dTh4T1JGRHdlamIvanpjMjM3K0NqN2F0UT09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
    server: https://tribus0.uvm.sdu.dk:6443
  name: sdu
contexts:
- context:
    cluster: sdu
    namespace: {{ team }}
    user: sdu-{{ team }}
  name: sdu-{{ team }}
current-context: sdu-{{ team }}
kind: Config
preferences: {}
users:
- name: sdu-{{ team }}
  user:
    client-certificate-data: {{ client_certificate_data }}
    client-key-data: {{ client_key_data }}
